:root {
    --primary-color: #0A3E3F;
    --secondary-color: #37C4B9;
    --accent-color: #D4EDEC;
}
body{
    font-family: 'Inconsolata', monospace;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    background-color: #222;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    height: 80px;
    margin:15px 0;
}
.navbar ul{
    display: flex;
}
.navbar ul li,
.navbar ul li a{
    margin: 0px 10px;
    color:#fff;
    list-style: none;
    text-decoration: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.Main{
    background-color: #eee;
    /* background-image: url(./images/react-logo.png);
    background-repeat: no-repeat;
    background-position: right 50%; */
    height: 90vh;
    display: flex;
    align-items: center;
}
.Main .main-pre-title{
    letter-spacing: 2px;
}
.Main .main-title{
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.main-facts li{
    line-height: 22px;
}
.main-facts li::marker{
    color: var(--primary-color);
    font-size: 1.4rem;
}
/* *********************************** INFO CARD **************************** */
.Info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Info-card .info{
    width: 300px;
    background: var(--primary-color);
    color: var(--accent-color);
    padding: 20px 20px;
}
.Info-card .info img{
    width: 100%;
}
.Info-card .info a{
    color: #37C4B9;
    text-decoration: none;

}
.info .about,.info .interests{
    text-align: left; 
}
.info .footer ul{
    display: flex;
}
.info .footer ul li{
    list-style:  none;
}
.info .footer li a{
    padding: 0px 5px;
}
/* *********************************** INFO CARD ENDS**************************** */


/* ****************AIR BNB******************** */
.airBnbLists{
    display: flex;
}
.air-bnb{
    display: flex;
    flex-direction: column;
}
.air-bnb img{
    width:30%;
}
.air-bnb .airbnb-rating{
    text-align: center;
}
.airbnb-price span{
    font-weight: 800;
}
/* ***********************
 */
 .movies_wrapper{
    display: flex;
    flex-direction: column;
    
 }
.movies{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* column-gap:1.2em; */
}
 .movie_thumb{
    width: 50%;
 }